@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardM-Light.eot');
    src: url('../fonts/MazzardM-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MazzardM-Light.woff2') format('woff2'),
        url('../fonts/MazzardM-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardM-Medium.eot');
    src: url('../fonts/MazzardM-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MazzardM-Medium.woff2') format('woff2'),
        url('../fonts/MazzardM-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardM-Regular.eot');
    src: url('../fonts/MazzardM-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MazzardM-Regular.woff2') format('woff2'),
        url('../fonts/MazzardM-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard L';
    src: url('../fonts/MazzardL-Bold.eot');
    src: url('../fonts/MazzardL-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MazzardL-Bold.woff2') format('woff2'),
        url('../fonts/MazzardL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardH-SemiBold.eot');
    src: url('../fonts/MazzardH-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MazzardH-SemiBold.woff2') format('woff2'),
        url('../fonts/MazzardH-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardH-Bold.eot');
    src: url('../fonts/MazzardH-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MazzardH-Bold.woff2') format('woff2'),
        url('../fonts/MazzardH-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}