.home
    &-shooting
        padding-top: 118px
        padding-bottom: 140px
        &__title.team__title::after
            border-left: 1200px solid transparent
            border-right: 1200px solid transparent
            border-top: 410px solid #fff
            border-bottom: 410px solid #fff
            margin-top: -410px
            margin-left: -1200px
        &__wrap
            grid-gap: 40px
            display: flex
            justify-content: space-between
            align-items: flex-end
        &__cont
            width: 580px
        &__right
            width: 670px
        &__quote
            background: #fafafa
            margin-bottom: 47px
            padding: 45px 42px
            padding-right: 54px
            clip-path: polygon(0 0, 100% 0, 100% calc( 100% - 45px ), calc( 100% - 54px ) 100%, 0 100%)
            p
                margin: 0
                font-weight: 400
                font-size: 16px
                line-height: 125%
                color: #878787
                margin-bottom: 20px
                b
                    font-weight: 400
                    color: #000
                &:last-child
                    margin-bottom: 0
        &__temps
            margin-bottom: 36px
            padding-right: 20px
            display: flex
            justify-content: space-between
        &__minus
            font-weight: 700
            font-size: 32px
            line-height: 175%
            color: #8bbaff
        &__plus
            font-weight: 700
            font-size: 32px
            line-height: 175%
            color: #e22126
        &__line
            width: calc(100% - 194px)
            padding-top: 4px
            text-align: center
            font-weight: 400
            font-size: 16px
            line-height: 162%
            text-align: center
            color: #590100
            span
                display: block
                margin-top: 6px
                height: 3px
                width: 100%
                background: linear-gradient(90deg, #8bb9ff 0%, #e22126 100%)
        &__text
            padding-left: 42px
            font-weight: 400
            font-size: 16px
            line-height: 125%
            color: #000
            max-width: 540px
            margin-bottom: 20px
            margin-top: 0
        &__bat
            display: flex
            align-items: center
            padding-left: 42px
        &__icon
            display: flex
            width: 30px
            margin-right: 25px
        &__descr
            width: calc(100% - 55px)
            font-weight: 400
            font-size: 16px
            line-height: 125%
            color: #878787
        &__controls
            display: flex
            align-items: center
            justify-content: flex-end
            margin-bottom: 18px
            grid-gap: 6px
        &__img
            display: flex
            overflow: hidden
            clip-path: polygon(56px 0, 100% 0, 100% 100%, 0 100%, 0 40px)
            img
                width: 100%
        &__prev, &__next
            cursor: pointer
            user-select: none
            path
                transition: all 0.3s
            &:hover
                svg
                    &>path
                        stroke: $red
                    g path
                        stroke: #d9d9d9
    &-features
        background: #fafafa
        padding: 145px 0
        clip-path: polygon(0 0, calc( 50% + 188px) 0, calc( 50% + 236px ) 34px, 100% 34px, 100% 100%, calc( 50% - 188px ) 100%, calc( 50% - 236px ) calc( 100% - 34px ), 0 calc( 100% - 34px ))
        &__wrap
            display: flex
            justify-content: space-between
            grid-gap: 30px
        &__cont
            width: 384px
            max-width: 100%
            padding-top: 13px
        &__name
            padding-top: 40px
            font-weight: 400
            font-size: 14px
            line-height: 114%
            text-align: center
            color: #878787
        &__first
            width: 335px
            padding-top: 23px
            img
                max-width: 100%
        &__title
            margin-top: 0
            margin-bottom: 40px
            font-weight: 700
            font-size: 24px
            line-height: 133%
            color: #000
            max-width: 220px
        &__line
            display: flex
            margin-top: 32px
        &__icon
            width: 18px
            margin-right: 20px
        &__text
            margin: 0
            max-width: calc(100% - 38px)
            font-weight: 400
            font-size: 16px
            line-height: 125%
            color: #000
    &-parametrs
        padding: 140px 0
        &__wrap
            display: flex
            justify-content: space-between
            align-items: flex-end
            grid-gap: 40px
        &__cont
            width: 580px
        &__img
            width: 675px
            display: flex
            img
                width: 100%
                height: auto
                clip-path: polygon(0 0, calc( 100% - 56px ) 0, 100% 40px, 100% 100%, 0 100%)
        &__line
            padding: 13px 0
            display: flex
            align-items: center
            border-bottom: 1px solid #d9d9d9
            &:last-child
                border-bottom: 0
        &__num
            width: 65px
            font-weight: 600
            font-size: 24px
            line-height: 233%
            color: #d9d9d9
            padding-top: 2px
        &__descr
            margin: 0
            max-width: calc(100% - 65px)
            width: 448px
            font-weight: 400
            font-size: 16px
            line-height: 125%
            color: #000
        &__block
            margin-top: 45px
            display: flex
            align-items: center
        &__icon
            display: flex
            width: 43px
            margin-right: 21px
        &__text
            width: calc(100% - 64px)
            font-weight: 400
            font-size: 16px
            line-height: 125%
            color: #878787
            span
                display: block
                margin-bottom: 8px
                font-weight: 500
                font-size: 20px
                line-height: 130%
                color: #000
    &-ways
        padding-top: 140px
        padding-bottom: 95px
        &__title
            font-weight: 400
            font-size: 16px
            line-height: 162%
            color: #878787
            position: relative
            margin-bottom: 65px
            &::before
                content: ""
                display: block
                width: 100vw
                height: 1px
                position: absolute
                right: calc(100% + 14px)
                top: 13px
                background: #d9d9d9
        &__block
            padding-top: 75px
            padding-bottom: 45px
        &__name
            display: flex
            align-items: center
            grid-gap: 28px
            position: relative
        &__subtitle
            font-weight: 700
            font-size: 32px
            line-height: 125%
            color: #000
            white-space: nowrap
            transition: all 0.3s
        &__toggle
            display: none
        &__img
            background: #fff
            padding: 0 10px
            position: absolute
            right: 110px
            top: 50%
            width: 455px
            height: 310px
            margin-top: -155px
            transition: all 0.3s
            opacity: 0
            img
                width: 100%
                height: 100%
                object-fit: cover
        &__descr
            padding-top: 10px
            font-weight: 400
            font-size: 14px
            line-height: 143%
            color: #000
        &__line
            display: block
            width: 100%
            background: #d9d9d9
            height: 1px
            transition: all 0.3s
        &__cont
            display: none
    &-how
        padding: 134px 0
        background: #fafafa
        clip-path: polygon(0 34px, calc( 50% - 236px ) 34px, calc( 50% - 188px) 0, 100% 0, 100% 100%, calc( 50% - 188px ) 100%, calc( 50% - 236px ) calc( 100% - 34px ), 0 calc( 100% - 34px ))
        &__wrap
            display: flex
            justify-content: space-between
            grid-gap: 40px
        &__main
            width: 300px
        &__cont
            width: 870px
        .team__title
            &::after
                border-top: 210px solid #fafafa
                border-bottom: 210px solid #fafafa
        &__tab
            font-weight: 400
            font-size: 20px
            line-height: 130%
            color: #000
            margin-bottom: 38px
            display: flex
            align-items: center
            grid-gap: 16px
            transition: all 0.3s
            cursor: pointer
            user-select: none
            white-space: nowrap
            svg
                transition: all 0.3s
                opacity: 0
            &.active, &:hover
                color: $red
                svg
                    opacity: 1
        &__name
            display: none
        &__cont
            &-block
                display: none
                &.active
                    display: block
        &__block
            padding: 28px 0
            display: flex
            align-items: center
            position: relative
            &::after
                content: ""
                display: block
                width: calc(100% - 64px)
                height: 1px
                background: #d9d9d9
                position: absolute
                top: 0
                right: 0
            &:first-child::after
                display: none
        &__num
            font-weight: 600
            font-size: 24px
            line-height: 233%
            color: #d9d9d9
            width: 64px
        &__text
            max-width: 720px
            width: calc(100% - 64px)
            font-weight: 400
            font-size: 16px
            line-height: 125%
            color: #000
    &-key
        padding: 126px 0
        &__wrap
            display: flex
            justify-content: space-between
            align-items: flex-end
            grid-gap: 40px
        &__cont
            width: 690px
            display: flex
            flex-direction: column
            align-items: flex-start
        &__subtitle
            margin-bottom: 20px
            font-weight: 500
            font-size: 20px
            line-height: 130%
            color: #000
        &__text
            max-width: 680px
            margin: 0
            margin-bottom: 42px
            font-weight: 400
            font-size: 16px
            line-height: 125%
            color: #878787
        &__img
            display: flex
            width: 530px
            img
                width: 100%
                height: auto
        &__btn
            padding: 13px 32px
            padding-right: 28px
            display: flex
            align-items: center
            justify-content: center
            grid-gap: 8px
            font-weight: 500
            font-size: 14px
            line-height: 157%
            text-align: center
            color: #e22126
            text-decoration: none
            position: relative
            svg
                margin-top: 2px
            path
                transition: all 0.3s
            &::before
                content: ""
                display: block
                position: absolute
                top: 0px
                left: 0px
                width: calc(100% + 0px)
                height: calc(100% + 0px)
                background: #fff
                z-index: -1
                transition: all 0.3s
                clip-path: polygon(20px 0, 100% 0, 100% calc( 100% - 15px ), calc( 100% - 20px ) 100%, 0 100%, 0 15px)
            &::after
                content: ""
                display: block
                position: absolute
                top: -1px
                left: -1px
                width: calc(100% + 2px)
                height: calc(100% + 2px)
                background: $red
                z-index: -2
                clip-path: polygon(20px 0, 100% 0, 100% calc( 100% - 15px ), calc( 100% - 20px ) 100%, 0 100%, 0 15px)
            &:hover
                color: #fff
                path
                    stroke: #fff
                &::before
                    opacity: 0
    &-about
        padding: 128px 0
        &__wrap
            display: flex
            justify-content: space-between
            grid-gap: 20px
        &__cont
            width: 670px
        &__main
            width: 540px
        &__first
            margin: 0
            font-weight: 400
            font-size: 20px
            line-height: 120%
            color: #000
        &__text
            p
                margin-bottom: 0
                margin-top: 20px
                font-size: 16px
                line-height: 125%
                color: #000
                font-weight: 400
                span
                    color: #878787
        &__descr
            margin: 0
            max-width: 440px
            font-weight: 400
            font-size: 16px
            line-height: 125%
            color: #878787
        &__nums
            display: flex
            margin-bottom: 55px
        &__num
            padding-top: 3px
            padding-bottom: 13px
            font-weight: 400
            font-size: 16px
            line-height: 125%
            color: #000
            b
                display: block
                margin-bottom: 10px
                font-weight: 700
                font-size: 24px
                line-height: 175%
                background: linear-gradient(90deg, #e22126 0%, #590100 100%)
                background-clip: text
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                span
                    font-size: 32px
            &:first-child
                border-right: 1px solid #d9d9d9
                padding-right: 20px
                width: 45%
            &:last-child
                padding-left: 65px
                width: 55%
    &-ya
        display: flex
        margin-bottom: 130px
        &__col
            width: 50%
        &__small
            height: 50vh
            width: 100%
            position: relative
            span
                position: absolute
                top: 0
                left: 0
                overflow: hidden
                height: 0%
            img
                width: 50vw
                object-fit: cover
                height: 50vh
            &:last-child
                span
                    bottom: 0
                    top: auto
        &__big
            width: 100%
            height: 100vh
            position: relative
            span
                position: absolute
                top: 0
                right: 0
                left: auto !important
                overflow: hidden
                width: 0%
                display: flex
                justify-content: flex-end
            img
                width: 50vw
                min-width: 50vw
                object-fit: cover
                height: 100vh
@media(min-width: 992px)
    .home-ways
        &__block:hover
            .home-ways
                &__subtitle
                    color: $red
                &__line
                    background: $red
                &__img
                    opacity: 1
@media(max-width: 1399px)
    .home
        &-ways
            &__img
                right: 20px
@media(max-width: 1199px)
    .home
        &-shooting
            &__wrap
                flex-direction: column
                grid-gap: 0
            &__right
                padding-top: 24px
                width: 100%
            &__cont
                width: 100%
        &-features
            padding: 80px 0
            &__first
                width: 244px
                padding-top: 0
            &__center
                width: 400px
                img
                    max-width: 100%
        &-parametrs
            &__wrap
                grid-gap: 0
                flex-direction: column-reverse
            &__cont
                width: 100%
            &__img
                width: 100%
                margin-top: 40px
        &-ways
            &__img
                right: 20px
                width: 250px
                height: 140px
                margin-top: -70px
@media(max-width: 991px)
    .home
        &-features
            &__wrap
                flex-direction: column
                align-items: center
                grid-gap: 0
            &__center
                width: 100%
                text-align: center
            &__cont
                width: 100%
                padding: 50px 0
            &__first
                order: 3
                width: 400px
                text-align: center
        &-ways
            &__img
                display: none
            &__cont
                padding-top: 35px
            &__toggle
                display: flex
                width: 28px
                min-width: 28px
                svg
                    width: 100%
                    height: auto
                path
                    transition: all 0.3s
            &__name
                cursor: pointer
                grid-gap: 11px
            &__block
                padding: 32px 0
                &.active
                    .home-ways
                        &__cont
                            display: flex
                            img
                                width: 100%
                                height: auto
                        &__line
                            background: $red
                        &__subtitle
                            color: $red
                        &__toggle
                            path
                                &:nth-child(2)
                                    opacity: 0
                                &:nth-child(3)
                                    stroke: $red
        &-how
            &__wrap
                flex-direction: column
                grid-gap: 0
            &__main
                width: 100%
            &__tabs
                display: none
            &__cont
                width: 100%
                &-block
                    display: block
                    &.active
                        .home-how
                            &__nums
                                display: block
                            &__subtitle
                                color: $red
                            &__line
                                background: $red
                            &__toggle
                                path
                                    &:nth-child(2)
                                        opacity: 0
                                    &:nth-child(3)
                                        stroke: $red
            &__subtitle
                font-weight: 400
                font-size: 18px
                line-height: 144%
                text-align: right
                color: #000
                white-space: nowrap
            &__nums
                display: none
                padding-bottom: 13px
            &__toggle
                width: 28px
                min-width: 28px
                display: flex
                svg
                    width: 100%
                    height: auto
            &__line
                height: 1px
                width: 100%
                background: #d9d9d9
            &__name
                display: flex
                align-items: center
                justify-content: space-between
                grid-gap: 11px
                margin-bottom: 24px
            &__block
                padding: 26px 0
                &:first-child
                    padding-top: 0
                &::after
                    width: calc(100% - 46px)
            &__text
                font-size: 14px
                line-height: 129%
                width: calc(100% - 46px)
            &__num
                font-size: 18px
                line-height: 100%
                width: 46px
        &-key
            &__wrap
                flex-direction: column
            &__cont
                width: 100%
            &__img
                width: 100%
        &-about
            &__wrap
                grid-gap: 0
                flex-direction: column
            &__main
                width: 100%
                margin-bottom: 22px
            &__cont
                width: 100%
@media(max-width: 575px)
    .home
        &-shooting
            padding-top: 36px
            padding-bottom: 42px
            &__quote
                margin-bottom: 28px
                padding: 24px
                p
                    font-size: 14px
                    line-height: 129%
                    margin-bottom: 19px
            &__temps
                padding: 0
                align-items: flex-end
            &__minus, &__plus
                font-size: 24px
                line-height: 233%
            &__line
                font-weight: 400
                font-size: 14px
                line-height: 143%
                text-align: center
                color: #590100
                width: calc(100% - 150px)
                padding: 0
                padding-bottom: 18px
                span
                    margin-top: 25px
            &__text
                padding: 0
                font-size: 14px
                line-height: 129%
            &__bat
                font-size: 14px
                line-height: 129%
                padding: 0
                align-items: flex-start
            &__icon
                width: 19px
                margin-right: 16px
                img
                    width: 100%
                    height: auto
            &__descr
                width: calc(100% - 35px)
            &__prev, &__next
                width: 28px
                svg
                    width: 100%
                    height: auto
        &-features
            padding: 64px 0
            clip-path: polygon(0 0, calc( 50% + 64px) 0, calc( 50% + 89px ) 20px, 100% 20px, 100% 100%, calc( 50% - 64px ) 100%, calc( 50% - 89px ) calc( 100% - 20px ), 0 calc( 100% - 20px ))
            &__wrap
                flex-direction: column
                align-items: center
                grid-gap: 0
            &__center
                width: 100%
                text-align: center
            &__cont
                width: 100%
                padding: 50px 0
            &__first
                width: 300px
                img
                    max-width: 250px
                    height: auto
            &__name
                padding-top: 25px
                font-size: 12px
                line-height: 117%
            &__title
                margin-bottom: 28px
                font-size: 16px
                line-height: 125%
                max-width: 175px
            &__text
                font-size: 14px
                line-height: 129%
            &__line
                margin-top: 24px

        &-parametrs
            padding-top: 60px
            padding-bottom: 54px
            &__descr
                max-width: calc(100% - 50px)
                font-size: 14px
                line-height: 129%
            &__line
                padding: 16px 0
            &__num
                font-size: 18px
                line-height: 111%
                width: 50px
            &__block
                margin-top: 28px
                align-items: flex-start
            &__icon
                width: 34px
                margin-right: 15px
                svg
                    max-width: 100%
                    height: auto
            &__text
                width: calc(100% - 49px)
                font-size: 14px
                line-height: 129%
                span
                    font-size: 16px
                    line-height: 125%
        &-ways
            padding-top: 42px
            padding-bottom: 40px
            &__title
                font-size: 14px
                line-height: 129%
                padding-left: 49px
                margin-bottom: 32px
                &::before
                    left: 0
                    top: 9px
                    width: 25px
                    right: auto
            &__block
                padding-bottom: 16px
                padding-top: 0
            &__cont
                padding-bottom: 24px
            &__descr
                padding-right: 30px
                font-size: 14px
                line-height: 129%
            &__subtitle
                font-size: 16px
                line-height: 125%
        &-how
            padding-top: 50px
            padding-bottom: 40px
            clip-path: polygon(0 0, calc( 50% + 64px) 0, calc( 50% + 89px ) 20px, 100% 20px, 100% 100%, calc( 50% - 64px ) 100%, calc( 50% - 89px ) calc( 100% - 20px ), 0 calc( 100% - 20px ))
        &-key
            padding-top: 48px
            padding-bottom: 50px
            &__subtitle
                margin-bottom: 20px
                font-size: 18px
                line-height: 144%
            &__text
                font-size: 14px
                line-height: 129%
                margin-bottom: 24px
        &-about
            padding: 62px 0
            &__text
                p
                    font-size: 14px
                    line-height: 129%
            &__first
                font-size: 16px
                line-height: 125%
            &__descr
                font-size: 14px
                line-height: 129%
            &__nums
                margin-bottom: 36px
            &__num
                font-size: 14px
                line-height: 129%
                padding-top: 0
                padding-bottom: 3px
                b
                    margin-bottom: 0
                    font-size: 18px
                    line-height: 233%
                    span
                        font-size: 24px
                &:first-child
                    width: calc(100% + 13px)
                &:last-child
                    padding-left: 49px
                    width: calc(100% - 13px)
        &-ya
            flex-direction: column
            padding-top: 50px
            margin-bottom: 50px
            &__col
                width: 100%
            &__big
                height: calc(100% - 50px)
                width: 100%
                img
                    width: 100vw
                    height: 50vh
                    min-width: 100vw
            &__small
                height: 25vh
                width: 100%
                img
                    width: 100vw
                    height: 25vh
